.card {
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card .price {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: #007bff;
}

.card-btn {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 20px;
  margin-top: 10px;
}

.card-btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.card-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
